body {
	padding:30px;
	background-color:#3EACA8;
	color:#FFF;
	font-family:'Avenir', sans-serif;
}

.nav li a {
	color:#547a82;
}

.nav li a:hover {
	color:#3EACA8;
}

/*background color of navbar*/
.navbar{
	background-color: #3EACA8;
	border: white;
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
}

/*xFair words in corner colors*/
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  font-weight: 500;
  background-color: transparent;
}

/*other navbar categories*/
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  font-weight: 500;
  background-color: #547A82; 
}

/*click on the categories*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #547A82;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}

/*toggle button*/
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
  background-color: #547A82;
}

/*dropdown "how to search" background color*/
.dropdown-menu{
	background-color: #547A82;
}

/*xfair logo*/
#xfair {
	width:50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px ;
	display: block;
}

ul {
	margin:0;
	padding:0;
}

.black {
	color:black;
}

.flex {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.input-heading {
	font-size:15px;
	font-weight:500;
}

input {
	margin:10px 0;
	color:black;
}

select {
	margin:10px 0;
	border-radius:0;
}

/*navigation*/

.navbar-brand img{
	width: 50px;
	height: 50px;
}

/* BODY*/
/*headers*/

h4 {
	cursor:pointer;
	margin-top:25px;
}

h3{
	text-align: center;
}

/*links in main list*/
.content-ul a {
	color:#e5eec1;
}

.content-ul a:hover {
	color:#e5eec1;
	font-weight:500;
	text-decoration:none;
}
.dotted-border {
	list-style:none;
	margin:15px 0;
	padding:0 0 20px 0;
	border-bottom:2px dashed white;
}

#company-name {
	font-size:17px;
	font-weight:500;
}

footer {
	text-align:center;
	margin-top:30px;
}

/*Modal boxes*/

.modal {
	color:black;
}

.modal-footer{
    text-align: left;
}

.modal-body a{
	color:#3EACA8;
}

.modal-body a:hover{
	color:#547a82;
	font-weight:500;
	text-decoration:none;
}
/*Buttons*/

.button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Avenir";
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:active{
    background-color: #00cc88;

}

.buttonfav {
	background-color:rgba(255,255,255,0); /* transparent */
    border: 1px solid white;
    background-image: url(images/airplane.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    width: 30px;
    height: 30px;
    padding:0;
}

.clicked{
	background-color: #a2d4ab;
	border: 1px solid white;
}
.buttonfav:hover{
	background-color: #a2d4ab;
	border: 1px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonrsvp{
    background-color: rgba(255,255,255,0); /* transparent */
    border: 1px solid #4175CE; /* Lightblue */
    color: #4175CE; 
}

.buttonrsvp:hover{
    background-color: #4175CE; /*darker version of Lightblue*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
}