body {
	padding:30px;
	background-color:#3EACA8;
	color:#FFF;
	font-family:'Avenir', sans-serif;
}

#header {
	text-align:center;
	margin-bottom:30px;
}

#xfair {
	width:500px;
}

.input-heading {
	font-size:15px;
	font-weight:500;
}

.modal {
	color:black;
}

.modal-footer{
    text-align: left;
}

h4 {
	cursor:pointer;
}

input {
	margin:10px 0;
	color:black;
}

select {
	margin:10px 0;
	border-radius:0;
}

.dotted-border {
	list-style:none;
	margin:15px 0;
	padding:0;
	border-bottom:2px dashed white;
}

#company-name {
	font-size:17px;
	font-weight:500;
}

footer {
	text-align:center;
	margin-top:30px;
}

.button{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Avenir";
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:active{
    background-color: #00cc88;

}

.buttonfav{
	background-color: #4175CE; /* Lightblue */
    border: 1px solid #4175CE; /* Lightblue */
    background-image: url(images/airplane.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    width: 30px;
    height: 30px;

}

.clicked{
	background-color: #93bcff; /* Lightblue */
    border: 1px solid #93bcff; /* Lightblue */
}
.buttonfav:hover{
	background-color: #152B51; /*darker version of Lightblue*/
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonrsvp{
    background-color: #4175CE; /* Lightblue */
    border: 1px solid #4175CE; /* Lightblue */
}

.buttonrsvp:hover{
    background-color: #152B51; /*darker version of Lightblue*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
