<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xFair 2017 Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
     <script src="http://spreadsheets.google.com/feeds/feed/1h9qPXGp2fWQNPSnYGvruMH85sY1YCqpoE42nBRksFAo/1/public/basic?alt=json-in-script&callback=myFunc"></script>
  </head>
  <body ng-app="MainApp">
    <div class="container-fluid" ng-controller="Ctrl">
      <div class="row">
        <!--Sidebar-->
        <div class="col-md-2">
          <!--Search-->
          <p><span>Search: <input ng-model="searchString"/></span></p>
          <!--Sort-->
          <p>
            <span>Sort by:
              <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="boothnumber">Booth number</option>
              </select>
            </span>
          </p>
        </div>

        <!--Main-->
        <div class="col-md-10">
          <ul style="list-style-type: none">
            <li ng-repeat="company in companies | searchFor:searchString">
              
              <a href="#/companies/{{company.gsx$id.$t}}"><img src="{{company.gsx$img.$t}}" alt={{company.gsx$name.$t}} style="width:128px;height:128px;">

              <p>{{ company.gsx$boothnumber.$t }} <span>{{ company.gsx$name.$t }}</span></p>
              <p>{{ company.gsx$snippet.$t }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
    <script src="ctrl.js"></script>
  </body>
</html>