<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xFair 2017 Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
     <script src="http://spreadsheets.google.com/feeds/feed/1h9qPXGp2fWQNPSnYGvruMH85sY1YCqpoE42nBRksFAo/1/public/basic?alt=json-in-script&callback=myFunc"></script>
  </head>
  <body ng-app="MainApp">
    <div class="container-fluid" ng-controller="Ctrl">
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <!--Sidebar-->
        <div class="col-md-2">

          <!--Search-->
          <div>
            <span>Search: <input ng-model="searchString"/></span>
          </div>
          <div>
            <p>...by <b>company name</b>:<br>"acme"</p>
            <p>...by <b>course number</b>:<br>"course 3"</p>
            <p>...by <b>position</b>:<br>"internship"<br>"part-time"<br>"full-time"</p>
            <p>...by <b>keyword</b>:<br>"awesome"</p>
          </div>

          <!--Sort-->
          <div>
            <span>Sort by:
              <select ng-model="orderProp">
                <option value="gsx$name.$t">Alphabetical</option>
                <option value="gsx$boothnumber.$t">Booth number</option>
              </select>
            </span>
          </div>
        </div>

        <!--Main-->
        <div class="col-md-6">
          <ul>
            <li ng-repeat="company in companies | searchFor:searchString | orderBy:orderProp">
              <p>{{ company.gsx$name.$t }}</p>
              <p>Booth: {{ company.gsx$boothnumber.$t }}</p>
              <p>{{ company.gsx$snippet.$t }}</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    </div>
    <script src="script.js"></script>
    <script src="ctrl.js"></script>
  </body>
</html>
