<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>xFair 2017 Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
     <script src="http://spreadsheets.google.com/feeds/feed/1h9qPXGp2fWQNPSnYGvruMH85sY1YCqpoE42nBRksFAo/1/public/basic?alt=json-in-script&callback=myFunc"></script>
     <script src="http://spreadsheets.google.com/feeds/feed/1-fbWclJYcTkEQxPJKE1Ur8mCiDBNrLeSc53dhFVssIs/1/public/basic?alt=json-in-script&callback=myFunc"></script>
      <script src="http://spreadsheets.google.com/feeds/feed/1fh7Vrx3O-vTnMY5Gcmpu-qz91Y1wFx9Xf6xFnopb8Ew/1/public/basic?alt=json-in-script&callback=myFunc"></script>
  </head>
  <body ng-app="MainApp">
  <div class="container-fluid" ng-controller="Ctrl"> 
  <!--navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">xFair 2017<!--img src="images/xfair-header.svg" id="xfair"--></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#companies" data-toggle="tab">Companies</a></li>
          <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
          <li><a href="#projX" data-toggle="tab">ProjX</a></li>
          <li><a href="#techtalks" data-toggle="tab">TechTalks</a></li>
          <li><a href="#booths_map" data-toggle="tab">Booth Map</a> </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span>Sort by:
              <span class="black"><select ng-model="orderProp">
                <option value="gsx$name.$t">Alphabetical</option>
                <option value="{{ $index }}">Booth number</option>
              </select></span>
            </span>
          </li>
          <li><span class="glyphicon glyphicon-search"></span><span>  Search: <input ng-model="searchString"/>
          </span></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">how to search<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <p style="color:black">...by <b>company name</b>:<br>"TechX"</p>
              <p style="color:black">...by <b>course number</b>:<br>"course 3"</p>
              <p style="color:black">...by <b>position</b>:<br>"internship"<br>"part-time"<br>"full-time"</p>
              <p style="color:black">...by <b>keyword</b>:<br>"awesome"</p>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <div class="tab-content">
          <!--HOME tab-->
          <div id="home" class="tab-pane fade in active">
            <h3 style="font-size:40px"> <font color="#5A5050">HOME</font></h3>
            <p style="font-size:15px">Welcome to xFair 2017! Browse company listings, support your friends' ProjX exhibitions, look up TechTalk times, and more.<br>If you have any questions during the fair, please visit Help Desk or reach out to anyone with an xFair Exec shirt.</p>

            <!-- Schedule -->   
            <p style="font-size:25px"> <font color="#547A82"><b>Schedule of Events</b></font></p>
            <!-- how do you reduce line gap --> 
            <p style="font-size:15px">February 6, 2017</p>
            <p style="font-size:15px"><font color="#547A82">xFair</font> 
            <br>10AM-4PM Rockwell Cage, MIT Zesiger Center
            <br>100+ companies from a wide variety of industries and 50+ student projects. The latest and greatest in industry tech, startups, and student talent.</p>
            <p style="font-size:15px"><font color="#547A82">Banquet</font>
            <br>6PM-8:30PM Invite Only 
            <br>Invite only. Dine and network with recruiters and industry specialists from our selected sponsors.</p>

          </div>
          
          <!--companies tab-->
          <div id="companies" class="tab-pane fade">
            <h3>COMPANIES</h3>
              <ul class="content-ul">
                <li ng-repeat="company in companies | searchFor:searchString | orderBy: orderProp" class="dotted-border">
                  <h4 class="modal-name" data-toggle="modal" data-target="{{ '#' + $index }} ">{{ company.gsx$name.$t }}</h4>
                  <div class="flex">
                    <div ng-controller="classCtrl">
                  	 <span class = "button buttonfav" ng-class="{'clicked':isClicked}" ng-click="favoriteThis(company); clickedButton()"></span>
                  	</div>
                    <p>&nbsp;&nbsp;&nbsp;Booth: {{ company.gsx$boothnumber.$t}} </p>
                  </div>
                  <p>{{ company.gsx$snippet.$t }}</p>
                  <div class="special-padding">>>&nbsp;&nbsp;<a href="{{company.gsx$website.$t}}" target="_blank">Learn More</a></div>
                  
                  <div class="modal" role="dialog" id="{{ $index }}">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-name">{{ company.gsx$name.$t }}</h4>
                        </div>
                        <div class="modal-body">
                          <p>Booth: {{ company.gsx$boothnumber.$t }}</p>
                          <p>{{ company.gsx$snippet.$t }}</p>
                        </div>
                        <div class="modal-footer">
                          <p> Majors: {{company.gsx$majors.$t}}</p>
                          <p> Positions: {{company.gsx$positions.$t}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
          </div>

          <div id="favorites" class="tab-pane fade">
          <h3> FAVORITES </h3>
            <ul class="content-ul">
                <li ng-repeat="company in favoriteList | searchForfav:searchString" class="dotted-border">
                   <h4 class="modal-name" data-toggle="modal" data-target="{{ '#' + $index + '-fav'}} ">{{ company.gsx$name.$t }} </h4> 
                      <p>Booth: {{ company.gsx$boothnumber.$t}}</p>
                      <p>{{ company.gsx$snippet.$t }}</p>
                      <div class="special-padding">>>&nbsp;&nbsp;<a href="{{company.gsx$website.$t}}" target="_blank">Learn More</a></div>
                  
                  <div class="modal" role="dialog" id="{{ $index + '-fav'}}">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-name">{{ company.gsx$name.$t }}</h4>
                        </div>
                        <div class="modal-body">
                          <p>Booth: {{ company.gsx$boothnumber.$t }}</p>
                          <p>{{ company.gsx$snippet.$t }}</p>
                        </div>
                        <div class="modal-footer">
                          <p> Majors: {{company.gsx$majors.$t}}</p>
                          <p> Positions: {{company.gsx$positions.$t}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
           
          <div id="projX" class="tab-pane fade">
            <h3>PROJX BOOTHS</h3>
            <ul class="content-ul">
              <li ng-repeat="project in projects" class="dotted-border">
                <h4 class="modal-name" data-toggle="modal" data-target="{{ '#' + $index + '-projx'}} ">{{ project.gsx$title.$t }}</h4>
                  <p> {{project.gsx$names.$t}} </p>
                  <p> Booth Number: {{ project.gsx$thing.$t }} </p>
                
                <div class="modal" role="dialog" id="{{ $index + '-projx' }}">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-name">{{ project.gsx$title.$t }}</h4>
                            <p class="special-padding"> Booth Number: {{project.gsx$thing.$t}} | {{ project.gsx$names.$t}}</p>
                      </div>
                      <div class="modal-body">
                        <p>{{ project.gsx$snippet.$t}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>


          <div id="techtalks" class="tab-pane fade">
            <h3>TECH TALKS</h3>
            <ul class="content-ul">
              <li ng-repeat="techtalk in techtalks" class="dotted-border">
                <h4 class="modal-name" data-toggle="modal" data-target="{{ '#' + $index + '-talks'}} ">{{ techtalk.gsx$company.$t }}</h4>
                  <p> {{techtalk.gsx$date.$t}} | Location: {{techtalk.gsx$room.$t}}</p>
                
                <div class="modal" role="dialog" id="{{ $index + '-talks' }}">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-name">{{ techtalk.gsx$company.$t }}</h4>
                        <p> {{techtalk.gsx$date.$t}} | Location: {{techtalk.gsx$room.$t}} </p>
                      </div>
                      <div class="modal-body">
                        <p>{{ techtalk.gsx$description.$t}} <a href="{{techtalk.gsx$url.$t}}">{{techtalk.gsx$urltext.$t}}</a></p>
                        <p> <a href="{{techtalk.gsx$rsvp.$t}}" target="_blank"> <span class = "button buttonrsvp"> RSVP </span> </a> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

           <div id="booths_map" class="tab-pane fade">
           <p>insert the picture of the booths here</p>
           </div>

        <div class="col-md-2">&nbsp;</div>
      </div>
    </div>
    <script src="script.js"></script>
    <script src="ctrl.js"></script>
  </body>
</html>
